<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ljtnono.re.mapper.system.ReUserMapper">

    <!-- 根据用户名查出所有权限列表 -->
    <select id="getPermissionExpressionListByUserId" resultType="cn.ljtnono.re.entity.system.RePermission">
        SELECT
            p.expression
        FROM sys_permission p
        LEFT JOIN sys_role_permission rp
        ON rp.permission_id = p.id
        LEFT JOIN sys_user_role ur
        ON ur.role_id = rp.role_id
        LEFT JOIN sys_user u
        ON u.id = ur.user_id
        <where>
            <if test="userId != null">
                AND u.id = #{userId}
                AND p.is_deleted = 0
                AND u.is_deleted = 0
            </if>
        </where>
    </select>

    <!-- 插入用户角色表 -->
    <insert id="insertUserRole">
        INSERT INTO sys_user_role(user_id, role_id)
        VALUES(#{reUserDTO.id}, #{reUserDTO.roleId})
    </insert>

    <!-- 分页获取用户列表 -->
    <select id="getUserListPage" resultType="cn.ljtnono.re.entity.system.ReUser">
        SELECT
            su.id,
            su.username,
            su.phone,
            su.email,
            su.create_time,
            su.modify_time
        FROM sys_user su
        <where>
            <if test="reUserDTO != null and reUserDTO.username != null and reUserDTO.username != ''">
                AND su.username like concat('%', #{reUserDTO.username}, '%')
            </if>
            <if test="reUserDTO != null and reUserDTO.email != null and reUserDTO.email != ''">
                AND su.email like concat('%', #{reUserDTO.email}, '%')
            </if>
            <if test="reUserDTO != null and reUserDTO.phone != null and reUserDTO.phone != ''">
                AND su.phone like concat('%', #{reUserDTO.phone}, '%')
            </if>
            AND su.is_deleted = 0
        </where>
    </select>
</mapper>