<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ljtnono.re.mapper.system.RoleMapper">

    <!-- 根据用户id获取角色id和角色名 -->
    <select id="getRoleIdAndNameByUserId" resultType="cn.ljtnono.re.entity.system.Role">
        SELECT sr.id, sr.name
        FROM sys_role sr
            LEFT JOIN sys_user_role sur ON sr.id = sur.role_id
            LEFT JOIN sys_user su ON su.id = sur.user_id
        WHERE
            su.id = #{userId} AND sr.is_deleted = 0
    </select>

    <!-- 分页获取角色列表 -->
    <select id="getList" resultType="cn.ljtnono.re.vo.system.RoleListVO">
        SELECT
            sr.id,
            sr.name,
            sr.description,
            sr.create_time,
            sr.modify_time,
            sr.is_delete
        FROM sys_role sr
        <where>
            <!-- 角色搜索条件 -->
            <if test="dto != null and dto.">

            </if>
        </where>

        <if test="dto != null and dto.sortCondition != null and dto.sortCondition != ''">
            ORDER BY ${dto.sortCondition}
        </if>
    </select>
</mapper>