<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Root Element 根元素</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.5.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/fore/css/style.min.css}">
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:include="fore/header.html"></div>
<!-- 内容区 -->
<div class="content pr">
    <!-- 关于作者 -->
    <section class="content-author mt15 mb15 pr">
        <div class="title">关于作者</div>
        <section class="personal mt20 flex-direction-column">
            <h1 class="f16 fb p10 name">个人简介</h1>
            <div class="flex flex-direction-column flex-align-items-center">
                <a href="javascript:" class="mt10">
                    <img class="avatar" th:src="${application.avatar.url}" th:alt="${application.author_nick_name}" th:title="application.author_nick_name">
                </a>
                <p class="nick-name fb f20 m10" th:text="${application.author_nick_name}">最后的疼爱</p>
                <p class="m10">Java菜鸟一枚</p>
                <p class="m10">喜欢折腾各种技术，web、linux、数据库、前端等</p>
                <p class="m10">爱生活、爱科学、爱设计、爱编程</p>
                <p class="m10">Talk is cheap, show me the code</p>
            </div>
        </section>
        <!-- 我的技能树 -->
        <section class="skill mt20">
            <h1 class="f16 fb p10 name">我的技能树</h1>
            <section class="chart p10" style="height: 500px"></section>
        </section>
        <!-- 与我联系 -->
        <section class="chat-me mt20 flex flex-direction-column">
            <h1 class="f16 fb p10 name">与我联系</h1>
            <div class="icons">
                <a href="javascript:"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                <a href="https://mail.qq.com/cgi-bin/loginpage" data-toggle="tooltip" data-placement="top"
                   title="给我发送邮件"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                <a href="https://github.com/ljtnono" data-toggle="tooltip" data-placement="top"
                   title="https://github.com/ljtnono"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="javascript:"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
            <div class="apply-btn f16 cursor-pointer">
                申请友链
            </div>
        </section>
        <!--留言区-->
        <div class="title mb20">网友留言</div>
        <div id="comments"></div>
    </section>
</div>
<div th:include="fore/footer.html"></div>
<script th:src="@{/static/fore/js/common.js}"></script>
<script>
    // 初始化评论系统
    new Valine({
        el: '#comments',
        appId: 'iyTC528gHvHe09Qg8b5HPrvj-gzGzoHsz',
        appKey: '8ndLNYwjGS7FPLKdzgRKCfeL',
        notify: false,
        verify: false,
        avatar: 'mp',
        placeholder: 'just go go'
    });
    const color = ["#49c085", "#f2b63c", "#f58a87", "#6f92ff", "#7782d1", "#d56464"];
    let myChart = echarts.init($(".chart")[0]);
    // 获取所有的技能列表
    $.ajax({
        url: ""
    });
    let option = {
        left: "100%",
        top: "100%",
        title: {
            text: "个人技能"
        },
        tooltip: {},
        legend: {
            show: true
        },
        xAxis: {
            name: "技能",
            position: 'bottom',
            data: ['html/css', 'js', 'java', 'linux', 'ps', 'android']
        },
        yAxis: {
            name: "分数",
            min: 0,
            max: 100
        },
        series: [{
            name: '技能',
            type: 'bar',
            label: {
                show: true,
                position: "top"
            },
            data: [
                {name: "html/css", value: 70, itemStyle: {color: color[0]}},
                {name: "js", value: 62, itemStyle: {color: color[1]}},
                {name: "java", value: 85, itemStyle: {color: color[2]}},
                {name: "linux", value: 45, itemStyle: {color: color[3]}},
                {name: "ps", value: 63, itemStyle: {color: color[4]}},
                {name: "android", value: 56, itemStyle: {color: color[5]}}
            ]
        }]
    };
    myChart.setOption(option);
    // 监听resize事件，实现echarts随着窗口大小发生变化而变化
    $(window).resize(function () {
        myChart.resize();
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
</body>
</html>