<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Root Element 根元素</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.5.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/fore/css/style.min.css}">
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <!-- editor.md编辑器相关 -->
    <link rel="stylesheet" th:href="@{/static/fore/lib/editor.md-1.5.0/css/editormd.preview.min.css}">
    <link rel="stylesheet" th:href="@{/static/fore/lib/google-code-prettify/prettify.css}">
    <link rel="stylesheet" th:href="@{/static/fore/lib/google-code-prettify/skins/tomorrow.min.css}">
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/marked.min.js}"></script>
    <script th:src="@{/static/fore/lib/google-code-prettify/prettify.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/raphael.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/underscore.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/flowchart.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/lib/jquery.flowchart.min.js}"></script>
    <script th:src="@{/static/fore/lib/editor.md-1.5.0/editormd.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <style>
        @media screen and (max-width: 768px){
            .message {
                display: none;
            }
            .content-main .content-detail {
                margin-top: 0;
            }
        }
        .detail-content ul, .detail-content ol {
            list-style: initial;
        }
    </style>
</head>
<body>
<div th:replace="fore/header.html"></div>
<!-- 内容区 -->
<div class="content pr">
    <!-- 文章详情部分 -->
    <div class="content-main">
        <!--此处是主要部分-->
    </div>
    <div th:replace="fore/content_side.html"></div>
</div>
<div th:replace="fore/footer.html"></div>
</body>
<script th:src="@{/static/fore/js/common.js}"></script>
</html>