<!-- 首页侧边栏部分 -->
<div class="content-side pa">
    <!-- 联系方式 -->
    <div class="social p10 mb15">
        <a href="javascript:" class="fl" data-toggle="popover" data-placement="top"><i class="fa fa-wechat "></i></a>
        <a href="javascript:" class="fl" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-weibo"></i></a>
        <a href="javascript:" class="fl" data-toggle="tooltip" data-placement="top" title="qq号：935188400"><i class="fa fa-qq"></i></a>
        <a href="javascript:" class="fl" data-toggle="tooltip" data-placement="top" title="github：ljtnono"><i class="fa fa-github"></i></a>
<!--        <a href="javascript:" class="fl" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-rss"></i></a>-->
    </div>
    <!-- 博主信息 -->
    <div class="author-info mb15">
        <div class="title mb15">博主信息</div>
        <div class="description mb15">
            <a href="javascript:" class="avatar mr15">
                <img th:src="${application.avatar.url}" th:alt="${application.author_nick_name}" th:title="${application.author_nick_name}">
            </a>
            <div class="description-text">
                <p class="mb5 f14" th:text="${'网名：' + application.author_nick_name}">网名：最后的疼爱</p>
                <p class="mb5 f14" th:text="${'职业：' + application.author_job}">职业：程序员</p>
                <p class="mb5 f14" th:text="${'现居：' + application.author_addr}">现居：湖北-武汉</p>
                <p class="mb5 f14" th:text="${'Email：' + application.author_email}">Email：935188400@qq.com</p>
            </div>
        </div>
        <div class="author-tags flex flex-justify-content-space-between">
            <a href="javascript:" class="author-tag">理想主义者</a>
            <a href="javascript:" class="author-tag">技术宅</a>
            <a href="javascript:" class="author-tag">天然呆</a>
        </div>
    </div>
    <!-- 猜你喜欢 -->
    <div class="guess mb15">
        <div class="title mb15">猜你喜欢</div>
        <div class="guess-item pb10 mb10" th:each="blog : ${application.guessYouLikeList}">
            <a th:href="'/article/' + ${blog.id}" class="thumb mr5"><img
                    th:src="${blog.coverImage}" alt=""></a>
            <div class="guess-text pr">
                <a class="guess-title pa" th:href="'/article/' + ${blog.id}" th:text="${blog.title}">Git:一款比付费主题更像是付费主题的WordPress免费主题</a>
                <a class="guess-info pa">
                    <span th:text="${#dates.format(blog.modifyTime,'yyyy-MM-dd')}">2019-10-13</span>
                    <span th:text="${blog.comment} + '评论'">1,213评论</span>
                </a>
            </div>
        </div>
    </div>
    <!-- 热门标签 -->
    <div class="tags mb15" scroll-fixed>
        <div class="title mb15">热门标签</div>
        <a th:href="'/articles?type=' + ${blogType.name} + '&page=1&count=10'" class="tag" th:each="blogType : ${application.blogTypeList}" th:text="${blogType.name}">js(146)</a>
    </div>
    <!-- 友情链接 -->
    <div class="links mb15" scroll-fixed>
        <div class="title">友情链接</div>
        <a th:href="${link.url}" class="link" th:each="link : ${application.linkList}" th:text="${link.name}">花瓣网</a>
    </div>
    <!-- 加我微信 -->
    <div class="wechat">
        <div class="title mb15">加我微信</div>
        <a href="javascript:">
            <img th:src="${application.qrCodeWeChat.url}" alt="加我微信">
        </a>
    </div>
</div>