<!-- 回到顶部 -->
<div class="roll-top pf p10 cursor-pointer none" th:fragment="roll-top" onclick="rollTop()">
    <a href="javascript:" title="回顶部"><i class="fa fa-arrow-up f14" aria-hidden="true"></i></a>
</div>
<!-- footer部分 -->
<footer id="footer" th:fragment="footer" class="mt30 pr">
    <div class="footer-main flex flex-direction-row pr">
        <div class="footer-main-item">
            <header class="item-title">
                <a href="javascript:">版权声明</a>
            </header>
            <p class="mt20" style="text-align: left">
                本站的文章和资源来自互联网或者站长
                的原创，按照 CC BY -NC -SA 3.0 CN
                协议发布和共享，转载或引用本站文章
                应遵循相同协议。如果有侵犯版权的资
                源请尽快联系站长，我们会在24h内删
                除有争议的资源。
            </p>
        </div>
        <div class="footer-main-item">
            <header class="item-title">
                <a href="javascript:">网站驱动</a>
            </header>
            <div class="logo-container mt20 flex flex-direction-column">
                <div class="logo-container-row flex flex-direction-row">
                    <img src="https://ftp.ljtnono.cn/re/images/huaweiyun.png" alt="华为云"><br>
                    <img src="https://ftp.ljtnono.cn/re/images/aliyun.png" alt="阿里云"><br>
                </div>
                <div class="logo-container-row flex flex-direction-row">
                    <img src="https://ftp.ljtnono.cn/re/images/mysql.png" alt="mysql"><br>
                    <img src="https://ftp.ljtnono.cn/re/images/redis-white.png" alt="redis"><br>
                </div>
                <div class="logo-container-row flex flex-direction-row">
                    <img src="https://ftp.ljtnono.cn/re/images/nginx.png" alt="nginx"><br>
                    <img src="https://ftp.ljtnono.cn/re/images/tomcat.png" alt="tomcat"><br>
                </div>
            </div>
        </div>
        <div class="footer-main-item">
            <header class="item-title">
                <a href="javascript:">站长微信</a>
            </header>
            <div class="site-wechat mt20">
                <img src="https://ftp.ljtnono.cn/re/images/qrcode-wechat.png" alt="加我微信">
            </div>
        </div>
        <div class="footer-main-item">
            <header class="item-title">
                <a href="javascript:">关于本站</a>
            </header>
            <div class="site-rss mt20">
                <div class="site-rss-info flex flex-direction-row flex-justify-content-space-between">
                    <img th:src="${application.avatar.url}" th:alt="${application.author_nick_name}" th:title="${application.author_nick_name}">
                    <p style="width:120px; text-align: left;">根元素,Java,css,html,爬虫,网络,IT,技术,博客 Talk is cheap, show me the code</p>
                </div>
                <div class="site-rss-email mt20 flex flex-direction-row flex-justify-content-space-between">
                    <input type="email" placeholder="输入邮箱订阅本站" />
                    <button><i class="fa fa-rss"></i>订阅</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-info"
         style="border-top: 1px solid #03A9F4;background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8AAEQgAAgAKAwERAAIRAQMRAf/EAEwAAQEAAAAAAAAAAAAAAAAAAAAJAQEAAAAAAAAAAAAAAAAAAAAAEAEBAAAAAAAAAAAAAAAAAAAAlREBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8Ah7DAhg//2Q==');background-repeat: repeat;">
        <p>
            <span class="author">copyright<i class="fa fa-copyright" aria-hidden="true"></i>最后的疼爱</span>
            <i class="fa">|</i>
            <span>版权所有 参考 <a href="https://gitcafe.net/">GitCafe</a> 和 <a href="https://yusi123.com/">欲思主题</a> 创建</span>
        </p>
        <script th:inline="javascript">
            document.write("<p>基于JAVA构建" + "\n" + "2019-10-20" + "至" + [[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}]] + "</p>");
        </script>
        <p class="mr10"><a href="javascript:">鄂ICP备18013706号-1</a></p>
        <p class="mr10">本项目github地址：<a href="javascript:">https://github.com/ljtnono/re</a></p>
    </div>
</footer>
<script th:src="@{/static/fore/js/common.min.js}"></script>
<script th:inline="javascript">
    // 设置header消息轮播
    setInterval(function () {
        $(".message-list").animate({
            top: "-=42"
        },{
            duration: 1000,
            easing: "swing",
            complete: function () {
                let top = parseInt($(this).css("top"));
                let height = parseInt($(this).height());
                let liHeight = $(this).children("li").height();
                if (top <= -height + liHeight) {
                    $(this).css("top", 0);
                }
            }
        });
    }, 4000);
</script>