<!-- 回到顶部 -->
<div class="roll-top pf p10 cursor-pointer none" th:fragment="roll-top">
    <a href="javascript:" title="回顶部"><i class="fa fa-arrow-up f14" aria-hidden="true"></i></a>
</div>
<!-- footer部分 -->
<footer id="footer" th:fragment="footer">
    <div class="line" style="background-color:#23B7E5;height: 2px;margin-bottom: 10px;"></div>
    <p>
        <span class="author">copyright<i class="fa fa-copyright" aria-hidden="true"></i>最后的疼爱</span>
        <i class="fa">|</i>
        <span>版权所有 改自欲思主题</span>
    </p>
    <script>
        document.write("<p>基于JAVA构建" + "\n" + "2019-10-20" + "至" + new DateUtil().format("yyyy-MM-dd") + "</p>");
    </script>
    <p style="margin-bottom: 10px;"><a href="">鄂ICP备18013706号-1</a></p>
</footer>
<script>
    // 百度统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c6ce7acb41f9f7ea8729ab2253646f1e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>