<!-- 头部分 -->
<header id="header" th:fragment="header">
    <div class="logo">
        <a href="/re" class="cursor-pointer">
            <h1>
                <img src="https://ftp.ljtnono.cn/re/images/logo_word.png" alt="RootElement根元素" class="logo-word"
                     title="RootElement根元素">
            </h1>
        </a>
    </div>
    <!-- 导航按钮和搜索按钮 -->
    <div class="side-nav-header">
        <div class="side-nav-bar cursor-pointer fl">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="side-nav-search cursor-pointer fr">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <!-- 小分辨率下的导航栏 -->
    <ul class="nav-mini flex flex-direction-column mb10">
        <li>
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
        </li>
        <li>
            <a href="'/articles?type=ALL&page=1&count=10'"><i class="fa fa-wrench" aria-hidden="true"></i>技术文章</a>
        </li>
        <li>
            <a th:href="'/topic'"><i class="fa fa-pencil-square" aria-hidden="true"></i>专题</a>
        </li>
        <li>
            <a th:href="'/books'"><i class="fa fa-book" aria-hidden="true"></i>推荐书单</a>
        </li>
        <li>
            <a th:href="'/apps'"><i class="fa fa-gear" aria-hidden="true"></i>小应用</a>
        </li>
        <li>
            <a th:href="'/support'"><i class="fa fa-thumbs-up" aria-hidden="true"></i>支持我</a>
        </li>
        <li>
            <a th:href="'/about'"><i class="fa fa-info-circle" aria-hidden="true"></i>关于作者</a>
        </li>
    </ul>
    <!-- 导航栏 -->
    <nav class="nav pr">
        <ul class="nav-menu">
            <li class="nav-item fl">
                <a href="/" th:if="${currentPage == 'index'}" class="nav-active"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
                <a href="/" th:if="${currentPage != 'index'}"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
            </li>
            <li class="nav-item fl">
                <a th:href="'/articles?type=ALL&page=1&count=10'" th:if="${currentPage == 'articles'}" class="nav-active"><i class="fa fa-wrench" aria-hidden="true"></i>技术文章</a>
                <a th:href="'/articles?type=ALL&page=1&count=10'" th:if="${currentPage != 'articles'}"><i class="fa fa-wrench" aria-hidden="true"></i>技术文章</a>
            </li>
            <li class="nav-item fl">
                <a th:href="'/topic'" th:if="${currentPage == 'topic'}" class="nav-active"><i class="fa fa-pencil-square" aria-hidden="true"></i>专题</a>
                <a th:href="'/topic'" th:if="${currentPage != 'topic'}"><i class="fa fa-pencil-square" aria-hidden="true"></i>专题</a>
            </li>
            <li class="nav-item fl">
                <a th:href="'/books'" th:if="${currentPage == 'books'}" class="nav-active"><i class="fa fa-book" aria-hidden="true"></i>推荐书单</a>
                <a th:href="'/books'" th:if="${currentPage != 'books'}"><i class="fa fa-book" aria-hidden="true"></i>推荐书单</a>
            </li>
            <li class="nav-item fl">
                <a th:href="'/apps'" th:if="${currentPage == 'apps'}" class="nav-active"><i class="fa fa-gear" aria-hidden="true"></i>小应用</a>
                <a th:href="'/apps'" th:if="${currentPage != 'apps'}"><i class="fa fa-gear" aria-hidden="true"></i>小应用</a>
            </li>
            <li class="nav-item fl">
                <a th:href="'/support'" th:if="${currentPage == 'support'}" class="nav-active"><i class="fa fa-thumbs-up" aria-hidden="true"></i>支持我</a>
                <a th:href="'/support'" th:if="${currentPage != 'support'}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>支持我</a>
            </li>
            <li class="nav-item fl">
                <a th:href="'/about'" th:if="${currentPage == 'about'}" class="nav-active"><i class="fa fa-info-circle" aria-hidden="true"></i>关于作者</a>
                <a th:href="'/about'" th:if="${currentPage != 'about'}"><i class="fa fa-info-circle" aria-hidden="true"></i>关于作者</a>
            </li>
            <li class="nav-item nav-search fr">
                <a href="#" style="padding: 20px 22px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="line h10" style="opacity: 0.9"></div>
</header>
<!-- 消息通知栏 -->
<div class="w message" th:fragment="message">
    <div class="message-content flex flex-direction-row flex-align-items-start">
        <i class="fa fa-volume-up"></i>
        <ul class="message-list">
            <li class="f16">
                看到网上新闻美国的贴吧将成为中国公司
            </li>
            <li class="f16">
                主题更新一下，修复了头像挂掉的问题
            </li>
            <li class="f16">
                后期更新网站文章可能不会那么闲了
            </li>
            <li class="f16">
                不得不说，美国贴吧的界面真是难看到死
            </li>
            <li class="f16">
                推送试试
            </li>
            <li class="f16">
                发现了一个非常不错的插件
            </li>
            <li class="f16">
                国庆快乐，放假三天
            </li>
            <li class="f16">
                准备增加一个免登录支付功能
            </li>
            <li class="f16">
                微信扫码登录功能已经 ok 了
            </li>
            <li class="f16">
                睡觉之前测试一下
            </li>
        </ul>
    </div>
</div>