<!doctype html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>根元素后台管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/static/back/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/back/css/login.css}">
    <link rel="stylesheet" th:href="@{/static/back/css/xadmin.css}">
    <script th:src="@{/static/fore/lib/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/static/back/lib/layui/layui.js}"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
<div class="login layui-anim layui-anim-up">
    <div class="message">RootElement-管理登录</div>
    <div id="darkbannerwrap"></div>
    <form class="layui-form">
        <input name="username" placeholder="用户名" type="text" lay-verify="username" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="password" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>
</body>
<script th:inline="javascript">
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;
        form.verify({
            username: function (value, item) {
                let usernameRex = /^[\w\W\s\u4e00-\u9fcc]{2,20}$/;
                if (!usernameRex.test(value)) {
                    return "用户名只能为2-20个字符";
                }
            },
            password: function (value, item) {
                let passwordRex = /^[\w\W\s\u4e00-\u9fcc]{6,32}$/;
                if (!passwordRex.test(value)) {
                    return "密码只能为6-32个字符";
                }
            }
        });
        form.on('submit(login)', function (data) {
            let user = data.field;
            layer.msg('正在登陆...', {anim: 5}, function (index) {
                $.ajax({
                    url: [[${#servletContext.contextPath}]] + "/admin/login",
                    data: {
                        username: user.username,
                        password: user.password
                    },
                    method: "POST",
                    dataType: "json",
                    headers: {
                      "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"
                    },
                    success: function (res) {
                        if (res.message === "success" && res.status === 200) {
                            location.href = [[${#servletContext.contextPath}]] + "/admin/index";
                        } else {
                            layer.msg(res.message + ", 错误码: " + res.status, {icon: 2});
                        }
                    },
                    error: function (res) {
                        if (res) {
                            layer.msg(res);
                        } else {
                            layer.msg("请求错误，请检查网络", {icon: 2});
                        }
                    }
                });
                layer.close(index);
            });
            return false;
        });
    });
</script>
</html>